@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">哇~發生問題了!!</h1>
<h2 class="text-danger">不好意思!!可能是目前伺服器忙碌中，你知道我是靠臉吃飯的，很多人要來拜訪我</h2>

<img src="~/BookPhotos/1dc5d50b-fa31-42ee-9e20-120cfd2a0d28.jpg" alt="404" style="width: 100%; height: 100%;" />